{% extends "dashboard.html" %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bids</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'userApp/js/bids.js' %}"></script>


    <style>
        .table-container {
            max-height: 500px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
    {% block body_block %}
    <div class="content">
        <!--Heading-->
        <div class="mb-4">
            <h3 class=" bid-head">Bid Details</h3>
        </div>
        <!--Heading-->
        <div class="table-container">
            <!-- Enable Checkbox -->
            <div class="row">
                <!--Column Configuration-->
                <div class="filter_by_column">
                    <button class="btn btn-sm  btn-warning border" data-toggle="collapse" href="#collapseColumnFilter" role="button" aria-expanded="false" aria-controls="collapseColumnFilter">Column Filter </button>
                </div>
                <!--Column Configuration-->
                <!--Status Button function Active, Completed, Upcoming...-->
                <div class="status ml-auto">
                    <a href="{% url 'bid_status' %}" class="btn badge badge-pill badge-secondary mx-1">Back</a>
                    <a href="{% url 'bidStatus' %}?activeBtn=true" id="activeBtn" class="btn badge badge-pill btn-danger mx-1">Active</a>
                    <a href="{% url 'bidStatus' %}?completedButton=true" type="button" id="completedButton" class="btn badge badge-pill  btn-success mx-1">Completed</a>
                    <a href="{% url 'bidStatus' %}?upcomingBtn=false" id="upcomingBtn" class="btn badge badge-pill btn-primary mx-1">Upcoming</a>
                </div>
                <!--Status Button function Active, Completed, Upcoming...-->
            </div>

            <br />
            <!--Column Configuration Checkbox-->
            <!-- Start Checkbox -->
            <div class="collapse" id="collapseColumnFilter">
                <div class="card card-body mb-3">
                    <div class="row">
                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleBid_Amount" checked>
                                <label class="form-check-label" for="toggleBid_Amount">Bid_Amount</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleNth_Bid" checked>
                                <label class="form-check-label" for="toggleNth_Bid">Nth_Bid</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleChit_ID" checked>
                                <label class="form-check-label" for="toggleChit_ID">Chit_ID</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleWinner_Phone_no" checked>
                                <label class="form-check-label" for="toggleWinner_Phone_no">Winner_Phone_no</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleBid_Date_and_Time" checked>
                                <label class="form-check-label" for="toggleBid_Date_and_Time">Bid_Date_and_Time</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleNumber_OF_Bells" checked>
                                <label class="form-check-label" for="toggleNumber_OF_Bells">Number_OF_Bells</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleBid_at" checked>
                                <label class="form-check-label" for="toggleBid_at">Bid_at</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleEnded_at" checked>
                                <label class="form-check-label" for="toggleEnded_at">Ended_at</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleIs_Active" checked>
                                <label class="form-check-label" for="toggleIs_Active">Is_Active</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleIs_Agent_bid" checked>
                                <label class="form-check-label" for="toggleIs_Agent_bid">Is_Agent_bid</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleIs_Automatic" checked>
                                <label class="form-check-label" for="toggleIs_Automatic">Is_Automatic</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleIs_Closed" checked>
                                <label class="form-check-label" for="toggleIs_Closed">Is_Closed</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleIs_Started" checked>
                                <label class="form-check-label" for="toggleIs_Started">Is_Started</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleStarted_at" checked>
                                <label class="form-check-label" for="toggleStarted_at">Started_at</label>
                            </div>

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleTimer_Tick_In_Seconds" checked>
                                <label class="form-check-label" for="toggleTimer_Tick_In_Seconds">Timer_Tick_In_Seconds</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleTimer_Start" checked>
                                <label class="form-check-label" for="toggleTimer_Start">Timer_Start</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleTimer_started_at" checked>
                                <label class="form-check-label" for="toggleTimer_started_at">Timer_started_at</label>
                            </div>

                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="toggleUpdated_at" checked>
                                <label class="form-check-label" for="toggleUpdated_at">Updated_at</label>
                            </div>
                        </div>
                    </div>
                    <!-- End Checkbox -->
                </div>
            </div>
            <!--Column Configuration Checkbox-->
            <!--Start Table-->
            <div class="table-container">
                <div class="table-responsive">
                    {% if data_list %}
                    <table id="myTable" class="table text-center table-hover table-striped">
                        <tr>
                            <th>S.No</th>
                            <th>Bid_Amount</th>
                            <th>Bid_Date_and_Time</th>
                            <th>Nth_Bid</th>
                            <th>Chit_ID</th>
                            <th>Winner_Phone_no</th>
                            <th>Number_OF_Bells</th>
                            <th>Bid_at</th>
                            <th>Ended_at</th>
                            <th>Is_Active</th>
                            <th>Is_Agent_bid</th>
                            <th>Is_Automatic</th>
                            <th>Is_Closed</th>
                            <th>Is_Started</th>
                            <th>Started_at</th>
                            <th>Timer_Start</th>
                            <th>Timer_started_at</th>
                            <th>Timer_Tick_In_Seconds</th>
                            <th>Updated_at</th>
                            <th>Action</th>
                        </tr>
                        {% for data in data_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.bid_amount }}</td>
                            <td>{{ data.bid_date }}</td>
                            <td>{{ data.nth_bid }}</td>
                            <td>{{ data.chit_id }}</td>
                            <td>{{ data.winner_phone_no }}</td>
                            <td>{{ data.number_of_bells}}</td>
                            <td>{{ data.bid_at}}</td>
                            <td>{{ data.ended_at}}</td>
                            <td>{{data.is_active}}</td>
                            <td>{{data.is_agent_bid}}</td>
                            <td>{{data.is_automatic}}</td>
                            <td>{{data.is_closed}}</td>
                            <td>{{data.is_started}}</td>
                            <td>{{data.started_at}}</td>
                            <td>{{data.timer_start}}</td>
                            <td>{{data.timer_started_at}}</td>
                            <td>{{data.timer_tick_in_seconds}}</td>
                            <td>{{data.updated_at}}</td>
                            <td class="btn-group">
                                <a href="{% url 'download_bid_excel' document_id=user.id %}" class=" btn-outline-success btn-sm ">
                                    <i class="fa fa-file-excel-o m-1" style="font-size:21px;"></i>
                                </a>
                                <a href="{% url 'download_bid_pdf' document_id=user.id %}" class=" btn-outline-danger btn-sm ">
                                    <span class="material-symbols-outlined">
                                        picture_as_pdf
                                    </span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="col-md p-5 text-center">
                {% if activeErrorMessage %}
                <p class="text-danger">{{activeErrorMessage}}</p>
                <hr />
                {% endif %}
            </div>
            <!--End Table-->
            <!-- Pagination -->
            <!-- Pagination -->
        </div>
    </div>



        {% endblock %}
</body>
</html>
